.nav{
  height: 60px;
  border-bottom: 3px solid black;
  display: flex;
  align-items: center;
}
.nav-right-items{
  display: flex;
  margin-left: auto;
  
}
.navItem{
  margin-left: 30px
}
.Pension-name{
  display: flex;
  margin-right: auto;
}
.title{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color:black;
  font-family: Arial, Helvetica, sans-serif;
}
.subtitle{
  font-size: 20px;
  font-weight: 200;
  text-align: center;
  margin-top: 50px;
  
}

.slider {
  width: 500px;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
  height: 400px;
  margin-top: 40px;
  padding: 0 auto;

  
}
.footer{
  position: relative;
  z-index: 100;
  background-color:#222;
  display: block;
  width: auto;
  padding: 40px 0;
  margin: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 70px;
 
 

}


.background{
 background-image: url(images/다운로드.png);
 background-repeat: no-repeat;
 background-position: center;
 width: 800px;
 margin: 0 auto;
 overflow: hidden;
 height: 500px;
 
 
  
 
}
.list-info{
    display: inline-block;
    margin-bottom: 10px;
    font-size: 14px;
    color: #888;
    letter-spacing: -.8px;
    line-height: 20px;
    white-space: nowrap;
   
    
}
